.work-list {
    list-style-type: none;
    display: flex;
    gap: 1rem;
}

.work-list button {
    padding: 0.5rem;
    background-color: transparent;
    border: 1px solid rgb(173, 173, 173);
    color: white;
    border-radius: 1rem;
    font-weight: 300;
}

.intuition {
    color: #7866E8;
}

.hearder-role {
    animation: first;
    animation-duration: 4s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
}


@keyframes first {
    25% {color: white;};
    50% {color:#7866E8};

}